version: "3.8"

services:
  php:
    build:
      context: ./docker
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/chicken-family
    user: "1000:1000" # Run as current user to avoid permission issues

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/chicken-family
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
