<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Découvrez Chicken Family à Beaurains : 100% filet de poulet pané maison, burgers gourmets, kebabs et assistant IA pour vous conseiller.">
		<title>
			{% block title %}Chicken Family - Restaurant de Poulet Pané Maison à Beaurains
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('photo_chicken/logochicken.png') }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="overflow-x-hidden pt-16 lg:pt-20"> {% block body %}{% endblock %}
		</body>
	</html>
